#homepage{
    background: #fff;
    text-transform: none;
}

#homepage .page-content{
    background: #fff;
}

#homepage .profile{
    background: url('../img/194235-c932fo@2X.png');
    background-size:cover;
}



#homepage .custom-tabs .row{
    font-size: 4vw;
    background: #E55204;
    height: 60px;
}

#homepage .custom-tabs .col-33{
   
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: inherit;
    padding: 2px;
}


#homepage .custom-tabs .col-33.active{
    background: white;
    color:black;
}


#homepage .custom-tabs a{
    color:inherit !important;

}

#homepage .custom-tabs .see-all{
    text-align: right;
    padding: 5px 10px;
;
}

#homepage .custom-tabs .see-all a{
    color: #E55204 !important;
    text-transform: none;
    text-decoration: underline;
    font-size: 3.5vw;
    font-family: 'dax-regular'; 
}

#homepage #discount-tab .swiper-slide{
    margin:auto;
}


.swiper-image{
    width: 100%;
    padding-bottom: 40px;
    height: 150px;
    text-align: center;
}

.swiper-image img{
height: inherit;
margin: auto;
}



#events-tabar-modal{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background:#015289;
    min-height: 200px;
    z-index: 1000;
    background-size: cover;
    margin-bottom: var(--f7-toolbar-height);
}
/* #events-tabbar-modal-bg{
    background: url('../img/svg/home events bs.svg');
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 187px;
    background-size: contain;
} */

.tabbar-home-active{
    background: url('../img/tabbar-active-bg.png');
    background-size: contain;
    color: #fff !important;
    background-repeat: no-repeat;
    background-position-x: center;
    min-width: 110px !important;
}

#home-tabbar .toolbar-inner .item{
width: 25%;
}
.birthday-card{
    min-height: 125px;
    width: 109px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-right:20px
}


.birthday-card .img{
    height: 54px;
    width: 54px;
    margin: auto;
}

.birthday-card .wish{
    background-color:rgb(172, 171, 171);
    color:#E2211C;
    text-align: center;
    padding: 3px 0;
    border-radius: 10px;
    margin:auto;

}

.toolbar{
    z-index: 1;
}


@media only screen and (max-height: 650px) {
    #homepage {
        height: 65%;
        overflow: auto;
        background: #fff;
        text-transform: none;
    }
  }